.main-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  font-family: 'Bree Serif';
  font-size: 36px;
  font-weight: bold;
  color: #1e293b;
}
.search-container {
  background-color: #ffffff;
  border: 3px solid #7b8794;
  display: flex;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-content: center;
}
.input-styling {
  height: 35px;
  width: 95%;
  border: 0px none;
  border-radius: 5px;
  padding-left: 10px;
}
.search-icon {
  height: 18px;
  width: 18px;
  margin-top: 8px;
}
.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin-right: 25px;
}

.apps-container {
  width: 80%;
  border-radius: 8px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
@media screen and (max-width: 576px) {
  .main-heading {
    font-size: 30px;
  }
  .search-container {
    width: 50%;
  }
  .apps-container {
    width: 90%;
  }
}
